<div class="row well">
	<div class="col-md-4 well">
		<%= image_tag @user.profile.avatar.url(:medium), class: 'profile-image img-circle img-responsive' %>
	</div>

	<div class="col-md-8">
		<div class="text-center">
			<h1><%= @user.profile.first_name %> <%= @user.profile.last_name %> </h1>
			<h3><span class="job-title-icon"><%= job_title_icon %></span><%= @user.profile.job_title %> </h3>
		</div>
		
		<div class="well profile-description">
			<h3 class="text-center">Description</h3>
			<%= @user.profile.description %>
		</div>

		<% if current_user.plan_id == 2 %>
			<div class="well contact-info">
				<h3>Contact Info</h3>
				
					Ph: <%= @user.profile.phone_number %> <br/>
					Email: <%= @user.profile.contact_email %> <br/>
				
			</div>
		<% end %>
		
		
		<% if current_user.id.to_s == (params[:id]) %> 
			<div class="text-center">
				<%= link_to edit_user_profile_path(current_user), class: 'btn btn-warning' do %>
					<i class="fa fa-pencil" aria-hidden="true"></i>
					Edit
				<% end %>
			
				<%= link_to edit_user_profile_path(current_user), class: 'btn btn-danger' do %>
					<i class="fa fa-trash-o" aria-hidden="true", method: :destroy></i>
					Delete
				<% end %>
			</div>
		<% end %>

		
		<br>
		<div class="text-center">
			<%= link_to users_path, class: 'btn btn block btn-default' do %>
				<i class="fa fa-hand-o-left" aria-hidden="true"></i>
				Back to Community
			<% end %>
		</div>
	</div>
</div>
	
<br>

<div class="row">
	<div class="col-md-12 well">
		<h5><strong>Note:</strong> Look up 'heroku amazon s3' in Google to save image files</h5>

		<h1><%= @user.plan_id %></h1>
	</div>
</div>